extends ../layouts/main
block content
    .cart-header
        table.table
            tr
                th Product
                th Price
                th Count
                th Amount
                th Action
            .cart-content
                tr
                    td Demo
                    td 1000
                    td 1
                    td 1000
                    td Xoa
                tr
                    td Cheese - Mozzarella
                    td 1000
                    td 1
                    td 1000
                    td Xoa
        a.btn.btn-info.mr-auto.mt-5 Check out
