extends ../layouts/main
block content
	.d-flex.align-item-center.justify-content-between.mt-5
		a.btn.btn-primary(href="/users/create") Create user
		form.form-inline(action="/users/search", method="GET") 
			.form-group
				input.form-control(type="text", name="q", value=q, placeholder="Search?")
				button.btn.btn-success.ml-5 Search
	h1.mt-5 Users list
	.list-user.mt-5
		table.table.table-bordered
			tr
				th Name
				th Phone
				th Action
			each user in users
				tr
					td= user.name
					td= user.phone
					td 
						a.btn.btn-light(href="/users/" + user.id) View